<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <!-- <div *ngIf="!onlyOdd">
            <li
            class="list-group-item"
            [ngClass]="{even: even % 2 === 0}"
            *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </div> -->
        <div *appUnless="onlyOdd">
          <li
          class="list-group-item"
          [ngClass]="{even: even % 2 === 0}"
          *ngFor="let even of evenNumbers">
          {{ even }}
        </li>
      </div>

      </ul>
      <ng-template [ngIf]="onlyOdd">
        <li
          class="list-group-item"
          [ngClass]="{odd: num % 2 !== 0}"
          [ngStyle]="{backgroundColor: num % 2 !== 0 ? 'yellow' : 'transparent'}"
          *ngFor="let num of oddNumbers">
          {{ num }}
        </li>
      </ng-template>
      <p appBasicHighlight>Style me with the new directive</p>
      <!-- Now we can use the defaultColor and highlightColor properties from
      our directive class. -->
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'green'">Now this one uses the appBetterHighlight directive.</p>
    </div>
  </div>
</div>
